


		@media only screen and (min-width: 375px){


			body{
				margin-top: 20px;
			}

			.container{

				display:grid;
				grid-gap: 5px;
				grid-template-rows: 60px 35px 1600px 35px; 
				grid-template-columns: 1fr;
       			grid-template-areas:"header"
                             		"nav"
                             		"article"
                             		"footer";

			}

			header{
				background-color:blue;
				grid-area: header;
				text-align: center;
			}

			nav{
				background-color: grey;
				grid-area: nav;
				word-spacing: 19px;
				padding-left:19px;	
			}

			nav h2{
				font-size: 1em;	
			}

			article{
				background-color: green;
				grid-area: article;
				margin-top: 10px;
				margin-bottom: 10px;
				padding: 20px;
			}

			footer{
				background-color: grey;
				grid-area: footer;
			}
			

			h1{
				font-size: 2em;
				
			}

			h2{
				font-size: 1.5em;
			}

		}

		@media only screen and (min-width: 768px){

		

		}