

body{

	text-align: center;
}

div{

	border: black 3px solid;
	height: 600px;
	width: 400px;
	margin: 30px;
	margin-left: 35vw;
	right: 0px;
	background-size: cover;
}


h1{
	font-family: 'Rancho', cursive;
	font-size:3em;
}

p{
	font-family: 'Lora', serif;

}

button{
	width: 100px;
	height: 50px;
}